.wraper{
    font-family: 'Poppins';
}

.header {
    background: #000000;
    padding: 32px 15px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index:50;
   
  }
  @media (max-width:468px){
   .header{
    padding: 15px 15px;
   }
  }
  
  .header__block {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .header__image{
    flex: 1 1 auto;
  }
  @media (max-width:464px){
   .header__image{
    display: none;
   }
  }
  .header__info {
    display: flex;
    gap: clamp(1.25rem, 0.88rem + 1.85vw, 2.5rem);
  }
  @media (max-width:464px){
   .header__navigation{
width: 100%;
   }
   .header__info{
    justify-content: space-between;
   }
    }
  
  
  .header__link {
    font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  color: #FFFFFF;
  position: relative;
  
  }
  .header__link--decor::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1px;
    background-color: #FFFFFF;
    width: 100%;
    
  }
  /*===================sectiom1==============*/
  .seguros {
    background: #121212;
    padding-top:clamp(5rem, 3.409rem + 7.95vw, 9.375rem);
    padding-bottom:clamp(0rem, -1.023rem + 11.36vw, 7.5rem) ;
  }
  .seguros__text{
    font-family: 'Poppins';
font-weight: 500;
font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
line-height: 0.9;
color: #B3B3B3
  }
  .seguros__title {
    font-family: 'Poppins';
font-weight: 600;
font-size: clamp(1.875rem, 1.102rem + 3.86vw, 4rem);
line-height: 1.3;
color: #FFFFFF;
    margin-bottom: clamp(1.25rem, 0.341rem + 4.55vw, 3.75rem);
  }
  
  .seguros__block {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  @media (max-width:778px){
    .seguros__block{
      flex-direction: column;
      gap: 20px;
    }
  }
  .seguros__column {
    flex: 0 1 50%;
    background: #000000;
  border-radius: 5px;
  padding: 20px 32px 44px 40px;
  }
  @media (max-width:778px){
    .seguros__column{
      flex: 1 1 100%;
      width: 100%;
    }
  }
  @media (max-width:500px){
  .seguros__column{
    padding: 5px;
  }
  }
  .prata {
  }
  .prata__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .prata__title {
    font-family: 'Poppins';
  font-weight: 600;
  font-size: clamp(1.563rem, 1.313rem + 1.25vw, 2.25rem);
  line-height: 1.3;
  color: #9C9C9C;
  }
  .prata__subblock {
    font-family: 'Poppins';
    
    font-weight: 600;
  }
  .prata__price {
  font-size:  clamp(1.563rem, 1.313rem + 1.25vw, 2.25rem);
  line-height: 1.3;
  color: #FFFFFF;
  margin-bottom: 8px;
  }
  .prata__inf {
  font-size: 12px;
  line-height: 1.1;
  color: #9C9C9C;
  }
  
   
  .prata__list{
    font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: #FFFFFF;
  margin-bottom:clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem);

  display: flex;
  gap: 8px;
  align-items: center;
  }
  .prata__list::before{
  content: '';
  background: url(../img/sugero/Vector\ 2.svg) center no-repeat;
  width: 11px;
  height: 7px;}
  .prata__link {
    font-family: 'Poppins';
  
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #CCCCCC;
  display: inline-block;
  padding: 16px 32px;
  background: #121212;
  border-radius: 5px;
  }
  @media (max-width:778px){
    .prata__link{
      padding: 10px 16px;
      font-size: 15px;
    }
  }
  .prata__title--color {
    color: #FFBB00;
  }
  .prata__link--color {
    background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);
    color: #121212;
  }
  /*==================section nosses ====================================*/
  .nosses {
   background-color: #000000;;
padding-top: clamp(0rem, -2.727rem + 13.64vw, 7.5rem);
padding-bottom: clamp(0.938rem, -1.449rem + 11.93vw, 7.5rem);
}
.nosses__container {
}
.nosses__title {
   
font-weight: 600;
font-size: clamp(1.875rem, 1.102rem + 3.86vw, 4rem);
line-height: 1.3;
color: #FFFFFF;
margin-bottom: clamp(1.125rem, 0.625rem + 2.5vw, 2.5rem);
}
.nosses__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
@media (max-width:778px){
    .nosses__block{
        grid-template-columns: 1fr 1fr;
      row-gap: 10px;
      column-gap: 15px;
    }
}
@media (max-width:445px){
.nosses__block{
    grid-template-columns: 1fr;
}
}
.nosses__subblock {
    margin-bottom: 40px;
}

.nosses__subblock img{
    margin-bottom: 8px;
}
@media (max-width:778px){
.nosses__subblock{
    margin-bottom: 10px;
}
}
.nosses__subtitle {
    font-weight: 600;
font-size: 24px;
line-height: 1.3;
color: #FFFFFF;
margin-bottom: 8px;
}
.nosses__text {
    font-family: 'Roboto';

font-weight: 600;
font-size: 18px;
line-height: 1.2;
color: #9C9C9C;
}
/*====================================section 3 perguntas============================*/
/*=====================================================================================*/
.perguntas {
    padding-top: clamp(0rem, -2.727rem + 13.64vw, 7.5rem);
    padding-bottom: clamp(0rem, -2.727rem + 13.64vw, 7.5rem);
}
.perguntas__container {
}
.perguntas__title {
    font-weight: 600;
font-size: clamp(1.875rem, 1.102rem + 3.86vw, 4rem);
line-height: 1.3;
color: #121212;
margin-bottom: clamp(0.938rem, -0.767rem + 8.52vw, 5.625rem);
}
.perguntas__block{
    padding: 20px 0;
}
@media (max-width:778px){
    .perguntas__block{
        padding: 10px 5px;
    }
}
.perguntas__block:nth-child(even){
    background-color: #F7F7F7;
    border-radius: 5px;
}
.perguntas__subtitle {
 align-items: center;   
padding: 0 10px;
gap: 10px;
 display: flex;
 justify-content: center;
}
.perguntas__info{
    font-weight: 600;
font-size: 18px;
line-height: 1.2;
color: #121212;
margin-bottom: 16px;
flex: 1 1 auto;
}
.perguntas__subtitle::after{
    content: '';
    background: url(../img/bicicleta/Vector\ 8.svg) 0 0 no-repeat;
    width: 20px;
    height: 8px;
    
}
.perguntas__subtitle::before{
    content: '';
    width: 12px;
    height: 8px;
    background: #FFBB00;
 
   
}
.perguntas__text {
    padding: 0 60px 0 30px;
    font-family: 'Roboto';
font-size: 18px;
line-height: 1.2;
color: #404040;
display: none;
transition: all 1s;
}
 .active{
display: block;

}
/*=======================footer===================================*/
.footer {
    background: #000000;
    padding-top: clamp(0.875rem, -0.17rem + 5.23vw, 3.75rem);
    padding-bottom:clamp(0.875rem, 0.466rem + 2.05vw, 2rem);
  }
  .footer__container {
    display: flex;
    color: white;
    justify-content: space-between;
  }
  @media (max-width:778px){
    .footer__container{
      flex-direction: column;
      gap: 20px;
      
    }
  }
  .footer__logo img{
    max-width: 100%;
  }
  @media (max-width:778px){
    .footer__logo{
     text-align: center;
     margin-bottom: 15px;
    }
  }
  .footer__column {
  
  padding: 0 10px;
  }
  .footer__block{
    font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  line-height: 1.3;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #B3B3B3;
  display: flex;
  flex-direction: column;
  }
  @media (max-width:778px){
    .footer__block{
      display: none;
    }
    .active{
      display: block;
      transition: all, 0.5s;
    }
  }
  .footer__title {
    font-weight: 500;
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    line-height: 1.2;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    margin-bottom: clamp(0.875rem, 0.466rem + 2.05vw, 2rem);
    color: #FFFFFF;
  display: flex;
  gap: 15px;
  align-items: center;
  }
  @media (max-width:778px){
  .footer__title::after{
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/footer/prev.svg)center 0 no-repeat;
    transform: rotate(90deg);
  }
  }
  .footer__tel {
   margin-bottom: 20px; 
  }
  .footer__email {
    margin-bottom: 20px;
  }
  .footer__decor{
   margin-bottom: 20px;
    width: 100%;
    height: 4px;
    background-color:  #121212;;
  }
  .footer__adres {
    margin-bottom: 20px;
  }
  .footer__subcolumn {
    display: flex;
    gap: 32px;
  }
 
  .footer__list:not(:last-child ){
    margin-bottom: 20px;
  }
  