.container{
    display: flex;
    flex-direction: column;
}
span{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.689);
}
main{
    max-width: 800px;
    margin: 0 auto;
}
a:link,
a:visited{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a {
    font-size: 20px;
    padding: 10px 15px;
    color: rgba(0, 0, 0, 0.277);
}
img{
    width: 200px;
    height: 200px;
  
}

